<b>{{title}}</b>

<div class="flex flex-row">
  <div>1. One</div> <div>2. Two</div> <div>3. Three</div> <div>4. Four</div>
</div>
<div class="flex flex-row-reverse">
  <div>1. One</div> <div>2. Two</div> <div>3. Three</div> <div>4. Four</div>
</div>
<div class="flex flex-col">
  <div>1. One</div> <div>2. Two</div> <div>3. Three</div> <div>4. Four</div>
</div>
<div class="flex flex-col-reverse">
  <div>1. One</div> <div>2. Two</div> <div>3. Three</div> <div>4. Four</div>
</div>

<div class="flex flex-row justify-start items-stretch content-stretch">
  <div>1. One</div> <div>2. Two</div> <div>3. Three</div> <div>4. Four</div>
</div>
<div class="flex flex-row justify-start items-start content-start">
  <div>1. One</div> <div>2. Two</div> <div>3. Three</div> <div>4. Four</div>
</div>
<div class="flex flex-row justify-start items-center content-center">
  <div>1. One</div> <div>2. Two</div> <div>3. Three</div> <div>4. Four</div>
</div>
<div class="flex flex-row justify-start items-end content-end">
  <div>1. One</div> <div>2. Two</div> <div>3. Three</div> <div>4. Four</div>
</div>
<div class="flex flex-row justify-start content-around">
  <div>1. One</div> <div>2. Two</div> <div>3. Three</div> <div>4. Four</div>
</div>
<div class="flex flex-row justify-start content-between">
  <div>1. One</div> <div>2. Two</div> <div>3. Three</div> <div>4. Four</div>
</div>
<div class="flex flex-row justify-start items-baseline">
  <div>1. One</div> <div>2. Two</div> <div>3. Three</div> <div>4. Four</div>
</div>

<div class="flex flex-row justify-center items-stretch content-stretch">
  <div>1. One</div> <div>2. Two</div> <div>3. Three</div> <div>4. Four</div>
</div>
<div class="flex flex-row justify-center items-start content-start">
  <div>1. One</div> <div>2. Two</div> <div>3. Three</div> <div>4. Four</div>
</div>
<div class="flex flex-row justify-center items-center content-center">
  <div>1. One</div> <div>2. Two</div> <div>3. Three</div> <div>4. Four</div>
</div>
<div class="flex flex-row justify-center items-end content-end">
  <div>1. One</div> <div>2. Two</div> <div>3. Three</div> <div>4. Four</div>
</div>
<div class="flex flex-row justify-center content-around">
  <div>1. One</div> <div>2. Two</div> <div>3. Three</div> <div>4. Four</div>
</div>
<div class="flex flex-row justify-center content-between">
  <div>1. One</div> <div>2. Two</div> <div>3. Three</div> <div>4. Four</div>
</div>
<div class="flex flex-row justify-center items-baseline">
  <div>1. One</div> <div>2. Two</div> <div>3. Three</div> <div>4. Four</div>
</div>

<div class="flex flex-row justify-end items-stretch content-stretch">
  <div>1. One</div> <div>2. Two</div> <div>3. Three</div> <div>4. Four</div>
</div>
<div class="flex flex-row justify-end items-start content-start">
  <div>1. One</div> <div>2. Two</div> <div>3. Three</div> <div>4. Four</div>
</div>
<div class="flex flex-row justify-end items-center content-center">
  <div>1. One</div> <div>2. Two</div> <div>3. Three</div> <div>4. Four</div>
</div>
<div class="flex flex-row justify-end items-end content-end">
  <div>1. One</div> <div>2. Two</div> <div>3. Three</div> <div>4. Four</div>
</div>
<div class="flex flex-row justify-end content-around">
  <div>1. One</div> <div>2. Two</div> <div>3. Three</div> <div>4. Four</div>
</div>
<div class="flex flex-row justify-end content-between">
  <div>1. One</div> <div>2. Two</div> <div>3. Three</div> <div>4. Four</div>
</div>
<div class="flex flex-row justify-end items-baseline">
  <div>1. One</div> <div>2. Two</div> <div>3. Three</div> <div>4. Four</div>
</div>

<div class="flex flex-row justify-around items-stretch content-stretch">
  <div>1. One</div> <div>2. Two</div> <div>3. Three</div> <div>4. Four</div>
</div>
<div class="flex flex-row justify-around items-start content-start">
  <div>1. One</div> <div>2. Two</div> <div>3. Three</div> <div>4. Four</div>
</div>
<div class="flex flex-row justify-around items-center content-center">
  <div>1. One</div> <div>2. Two</div> <div>3. Three</div> <div>4. Four</div>
</div>
<div class="flex flex-row justify-around items-end content-end">
  <div>1. One</div> <div>2. Two</div> <div>3. Three</div> <div>4. Four</div>
</div>
<div class="flex flex-row justify-around content-around">
  <div>1. One</div> <div>2. Two</div> <div>3. Three</div> <div>4. Four</div>
</div>
<div class="flex flex-row justify-around content-between">
  <div>1. One</div> <div>2. Two</div> <div>3. Three</div> <div>4. Four</div>
</div>
<div class="flex flex-row justify-around items-baseline">
  <div>1. One</div> <div>2. Two</div> <div>3. Three</div> <div>4. Four</div>
</div>

<div class="flex flex-row justify-between items-stretch content-stretch">
  <div>1. One</div> <div>2. Two</div> <div>3. Three</div> <div>4. Four</div>
</div>
<div class="flex flex-row justify-between items-start content-start">
  <div>1. One</div> <div>2. Two</div> <div>3. Three</div> <div>4. Four</div>
</div>
<div class="flex flex-row justify-between items-center content-center">
  <div>1. One</div> <div>2. Two</div> <div>3. Three</div> <div>4. Four</div>
</div>
<div class="flex flex-row justify-between items-end content-end">
  <div>1. One</div> <div>2. Two</div> <div>3. Three</div> <div>4. Four</div>
</div>
<div class="flex flex-row justify-between content-around">
  <div>1. One</div> <div>2. Two</div> <div>3. Three</div> <div>4. Four</div>
</div>
<div class="flex flex-row justify-between content-between">
  <div>1. One</div> <div>2. Two</div> <div>3. Three</div> <div>4. Four</div>
</div>
<div class="flex flex-row justify-between items-baseline">
  <div>1. One</div> <div>2. Two</div> <div>3. Three</div> <div>4. Four</div>
</div>

<div class="flex flex-row justify-evenly items-stretch content-stretch">
  <div>1. One</div> <div>2. Two</div> <div>3. Three</div> <div>4. Four</div>
</div>
<div class="flex flex-row justify-evenly items-start content-start">
  <div>1. One</div> <div>2. Two</div> <div>3. Three</div> <div>4. Four</div>
</div>
<div class="flex flex-row justify-evenly items-center content-center">
  <div>1. One</div> <div>2. Two</div> <div>3. Three</div> <div>4. Four</div>
</div>
<div class="flex flex-row justify-evenly items-end content-end">
  <div>1. One</div> <div>2. Two</div> <div>3. Three</div> <div>4. Four</div>
</div>
<div class="flex flex-row justify-evenly content-around">
  <div>1. One</div> <div>2. Two</div> <div>3. Three</div> <div>4. Four</div>
</div>
<div class="flex flex-row justify-evenly content-between">
  <div>1. One</div> <div>2. Two</div> <div>3. Three</div> <div>4. Four</div>
</div>
<div class="flex flex-row justify-evenly items-baseline">
  <div>1. One</div> <div>2. Two</div> <div>3. Three</div> <div>4. Four</div>
</div>

<div class="flex flex-row">
  <div style="margin-right: 20px;">1. One</div> <div style="margin-right: 20px;">2. Two</div> <div style="margin-right: 20px;">3. Three</div> <div style="margin-right: 20px;">4. Four</div>
</div>

<div class="flex flex-row">
  <div class="flex-1">fxFlex=""</div>
  <div class="flex-1" style="flex-basis:52%;">fxFlex="1 1 52%"</div>
  <div class="flex-1" style="flex-basis:102px;">fxFlex="102px"</div>
</div>
<div class="flex flex-row">
  <div class="flex-initial">fxFlex="initial"</div>
</div>
<div class="flex flex-row">
  <div class="flex-auto" style="flex-basis:100%;">fxFlex="grow"</div>
</div>
<div class="flex flex-row">
  <div class="flex-auto">fxFlex="auto"</div>
</div>
<div class="flex flex-row">
  <div class="flex-initial">fxFlex="nogrow"</div>
</div>
<div class="flex flex-row">
  <div class="flex-initial flex-grow flex-shrink-0">fxFlex="noshrink"</div>
</div>
<div class="flex flex-row">
  <div class="flex-none">fxFlex="none"</div>
</div>
<div class="flex flex-row">
  <div class="flex-auto flex-shrink-0 flex-grow-2"></div> <!-- flex-grow-2 is customized in tailwind.config.js -->
</div>

<div class="flex flex-row">
  <div class="order-4">1. One</div>
  <div class="order-2">2. Two</div>
  <div class="order-3">3. Three</div>
  <div class="order-1">4. Four</div>
</div>

<div class="flex flex-row">
  <div class="m-4">1. One</div>
  <div class="m-2.5">1. One</div>
  <div class="m-5%">2. Two</div> <!-- m-5% is customized in tailwind.config.js -->
  <div class="m-10vw">3. Three</div> <!-- m-10vw is customized in tailwind.config.js -->
  <div class="m-5vh">4. Four</div> <!-- m-5vh is customized in tailwind.config.js -->
</div>

<div class="flex flex-row">
  <div class="self-start">1. One</div>
  <div class="self-center">2. Two</div>
  <div class="self-end">3. Three</div>
  <!-- <div class="self-baseline">4. Four</div> Not Available in tailwind but can be customized -->
  <div class="self-stretch">5. Five</div>
</div>

<div class="flex flex-row h-24 border-4	border-solid border-blue-600">
  <div class="w-full h-full bg-red-500">fxFlexFill or fxFill</div>
</div>

<div class="flex flex-row">
  *fxShow="false"<div [class.hidden]="true"></div>
  <div class="hidden">fxHide="true"</div>
  <div class="block xs:hidden">fxHide.sm="true"</div>
  <div class="block gt-xs:block gt-md:hidden">fxShow="true" fxShow.gt-xs="true" fxShow.gt-md="false"</div>
</div>

<div 
  class="xs:first xs:third gt-xs:first gt-xs:second">
  <!-- apply responsive @variants for custom CSS classes in style.scss  -->
  TESTING
</div>

<!--
  ngStyle.sm or ngStyle.sm or etc can not be replaced in Tailwind
  but using custom classes the same behavior can be achievable.
  Refer L211+ above 
-->

<!-- 
  src.xs or src.xs.sm or etc can not be replaced in Tailwind
  but using custom classes the same behavior can be achievable. Refer L211+ above -->

<div class="grid
  xs:grid-cols-2 xs:grid-rows-4
  grid-cols-3 grid-rows-3
  items-center content-center
  place-content-center place-items-center
  grid-flow-row
  xs:grid-cols-mobile-50%
  grid-cols-desktop-20%
  xs:grid-cols-4
  grid-cols-3
  gap-4"
>
  <div class='row-start-1 row-end-2 col-start-1 col-end-4 xs:col-end-2'>Header</div>
  <div class="row-start-2 row-end-3 col-start-1 col-end-2">Sidebar</div>
  <div class="row-start-2 xs:row-start-3 row-end-3 xs:row-end-4 col-start-3 xs:col-start-1 col-end-4 xs:col-end-2">Sidebar 2</div>
  <div class="row-start-2 row-end-3 col-start-2 col-end-3">Content<br /> More content than we had before so this column is now quite tall.</div>
  <div class='row-start-3 xs:row-start-4 row-end-4 xs:row-end-4 col-start-1 col-end-4 xs:col-end-2'>Footer</div>
</div>