<b>{{title}}</b>

<div fxLayout="row">
  <div>1. One</div> <div>2. Two</div> <div>3. Three</div> <div>4. Four</div>
</div>
<div fxLayout="row-reverse">
  <div>1. One</div> <div>2. Two</div> <div>3. Three</div> <div>4. Four</div>
</div>
<div fxLayout="column">
  <div>1. One</div> <div>2. Two</div> <div>3. Three</div> <div>4. Four</div>
</div>
<div fxLayout="column-reverse">
  <div>1. One</div> <div>2. Two</div> <div>3. Three</div> <div>4. Four</div>
</div>

<div fxLayout="row" fxLayoutAlign="start stretch">
  <div>1. One</div> <div>2. Two</div> <div>3. Three</div> <div>4. Four</div>
</div>
<div fxLayout="row" fxLayoutAlign="start start">
  <div>1. One</div> <div>2. Two</div> <div>3. Three</div> <div>4. Four</div>
</div>
<div fxLayout="row" fxLayoutAlign="start center">
  <div>1. One</div> <div>2. Two</div> <div>3. Three</div> <div>4. Four</div>
</div>
<div fxLayout="row" fxLayoutAlign="start end">
  <div>1. One</div> <div>2. Two</div> <div>3. Three</div> <div>4. Four</div>
</div>
<div fxLayout="row" fxLayoutAlign="start space-around">
  <div>1. One</div> <div>2. Two</div> <div>3. Three</div> <div>4. Four</div>
</div>
<div fxLayout="row" fxLayoutAlign="start space-between">
  <div>1. One</div> <div>2. Two</div> <div>3. Three</div> <div>4. Four</div>
</div>
<div fxLayout="row" fxLayoutAlign="start baseline">
  <div>1. One</div> <div>2. Two</div> <div>3. Three</div> <div>4. Four</div>
</div>

<div fxLayout="row" fxLayoutAlign="center stretch">
  <div>1. One</div> <div>2. Two</div> <div>3. Three</div> <div>4. Four</div>
</div>
<div fxLayout="row" fxLayoutAlign="center start">
  <div>1. One</div> <div>2. Two</div> <div>3. Three</div> <div>4. Four</div>
</div>
<div fxLayout="row" fxLayoutAlign="center center">
  <div>1. One</div> <div>2. Two</div> <div>3. Three</div> <div>4. Four</div>
</div>
<div fxLayout="row" fxLayoutAlign="center end">
  <div>1. One</div> <div>2. Two</div> <div>3. Three</div> <div>4. Four</div>
</div>
<div fxLayout="row" fxLayoutAlign="center space-around">
  <div>1. One</div> <div>2. Two</div> <div>3. Three</div> <div>4. Four</div>
</div>
<div fxLayout="row" fxLayoutAlign="center space-between">
  <div>1. One</div> <div>2. Two</div> <div>3. Three</div> <div>4. Four</div>
</div>
<div fxLayout="row" fxLayoutAlign="center baseline">
  <div>1. One</div> <div>2. Two</div> <div>3. Three</div> <div>4. Four</div>
</div>

<div fxLayout="row" fxLayoutAlign="end stretch">
  <div>1. One</div> <div>2. Two</div> <div>3. Three</div> <div>4. Four</div>
</div>
<div fxLayout="row" fxLayoutAlign="end start">
  <div>1. One</div> <div>2. Two</div> <div>3. Three</div> <div>4. Four</div>
</div>
<div fxLayout="row" fxLayoutAlign="end center">
  <div>1. One</div> <div>2. Two</div> <div>3. Three</div> <div>4. Four</div>
</div>
<div fxLayout="row" fxLayoutAlign="end end">
  <div>1. One</div> <div>2. Two</div> <div>3. Three</div> <div>4. Four</div>
</div>
<div fxLayout="row" fxLayoutAlign="end space-around">
  <div>1. One</div> <div>2. Two</div> <div>3. Three</div> <div>4. Four</div>
</div>
<div fxLayout="row" fxLayoutAlign="end space-between">
  <div>1. One</div> <div>2. Two</div> <div>3. Three</div> <div>4. Four</div>
</div>
<div fxLayout="row" fxLayoutAlign="end baseline">
  <div>1. One</div> <div>2. Two</div> <div>3. Three</div> <div>4. Four</div>
</div>

<div fxLayout="row" fxLayoutAlign="space-around stretch">
  <div>1. One</div> <div>2. Two</div> <div>3. Three</div> <div>4. Four</div>
</div>
<div fxLayout="row" fxLayoutAlign="space-around start">
  <div>1. One</div> <div>2. Two</div> <div>3. Three</div> <div>4. Four</div>
</div>
<div fxLayout="row" fxLayoutAlign="space-around center">
  <div>1. One</div> <div>2. Two</div> <div>3. Three</div> <div>4. Four</div>
</div>
<div fxLayout="row" fxLayoutAlign="space-around end">
  <div>1. One</div> <div>2. Two</div> <div>3. Three</div> <div>4. Four</div>
</div>
<div fxLayout="row" fxLayoutAlign="space-around space-around">
  <div>1. One</div> <div>2. Two</div> <div>3. Three</div> <div>4. Four</div>
</div>
<div fxLayout="row" fxLayoutAlign="space-around space-between">
  <div>1. One</div> <div>2. Two</div> <div>3. Three</div> <div>4. Four</div>
</div>
<div fxLayout="row" fxLayoutAlign="space-around baseline">
  <div>1. One</div> <div>2. Two</div> <div>3. Three</div> <div>4. Four</div>
</div>

<div fxLayout="row" fxLayoutAlign="space-between stretch">
  <div>1. One</div> <div>2. Two</div> <div>3. Three</div> <div>4. Four</div>
</div>
<div fxLayout="row" fxLayoutAlign="space-between start">
  <div>1. One</div> <div>2. Two</div> <div>3. Three</div> <div>4. Four</div>
</div>
<div fxLayout="row" fxLayoutAlign="space-between center">
  <div>1. One</div> <div>2. Two</div> <div>3. Three</div> <div>4. Four</div>
</div>
<div fxLayout="row" fxLayoutAlign="space-between end">
  <div>1. One</div> <div>2. Two</div> <div>3. Three</div> <div>4. Four</div>
</div>
<div fxLayout="row" fxLayoutAlign="space-between space-around">
  <div>1. One</div> <div>2. Two</div> <div>3. Three</div> <div>4. Four</div>
</div>
<div fxLayout="row" fxLayoutAlign="space-between space-between">
  <div>1. One</div> <div>2. Two</div> <div>3. Three</div> <div>4. Four</div>
</div>
<div fxLayout="row" fxLayoutAlign="space-between baseline">
  <div>1. One</div> <div>2. Two</div> <div>3. Three</div> <div>4. Four</div>
</div>

<div fxLayout="row" fxLayoutAlign="space-evenly stretch">
  <div>1. One</div> <div>2. Two</div> <div>3. Three</div> <div>4. Four</div>
</div>
<div fxLayout="row" fxLayoutAlign="space-evenly start">
  <div>1. One</div> <div>2. Two</div> <div>3. Three</div> <div>4. Four</div>
</div>
<div fxLayout="row" fxLayoutAlign="space-evenly center">
  <div>1. One</div> <div>2. Two</div> <div>3. Three</div> <div>4. Four</div>
</div>
<div fxLayout="row" fxLayoutAlign="space-evenly end">
  <div>1. One</div> <div>2. Two</div> <div>3. Three</div> <div>4. Four</div>
</div>
<div fxLayout="row" fxLayoutAlign="space-evenly space-around">
  <div>1. One</div> <div>2. Two</div> <div>3. Three</div> <div>4. Four</div>
</div>
<div fxLayout="row" fxLayoutAlign="space-evenly space-between">
  <div>1. One</div> <div>2. Two</div> <div>3. Three</div> <div>4. Four</div>
</div>
<div fxLayout="row" fxLayoutAlign="space-evenly baseline">
  <div>1. One</div> <div>2. Two</div> <div>3. Three</div> <div>4. Four</div>
</div>

<div fxLayout="row" fxLayoutGap="20px">
  <div>1. One</div> <div>2. Two</div> <div>3. Three</div> <div>4. Four</div>
</div>

<div>
  <div fxFlex>fxFlex</div>
  <div fxFlex="">fxFlex=""</div>
  <div fxFlex="1 1 52%">fxFlex="1 1 52%"</div>
  <div fxFlex="102px">fxFlex="102px"</div>
</div>
<div>
  <div fxFlex="initial">fxFlex="initial"</div>
</div>
<div>
  <div fxFlex="grow">fxFlex="grow"</div>
</div>
<div>
  <div fxFlex="auto">fxFlex="auto"</div>
</div>
<div>
  <div fxFlex="nogrow">fxFlex="nogrow"</div>
</div>
<div>
  <div fxFlex="noshrink">fxFlex="noshrink"</div>
</div>
<div>
  <div fxFlex="none">fxFlex="none"</div>
</div>
<div>
  <div fxFlex="auto" fxShrink="0" fxGrow="2"></div>
</div>

<div fxLayout="row">
  <div fxFlexOrder="4">1. One</div>
  <div fxFlexOrder="2">2. Two</div>
  <div fxFlexOrder="3">3. Three</div>
  <div fxFlexOrder="1">4. Four</div>
</div>

<div fxLayout="row">
  <div fxFlexOffset="1rem">1. One</div>
  <div fxFlexOffset="10px">1. One</div>
  <div fxFlexOffset="5%">2. Two</div>
  <div fxFlexOffset="10vw">3. Three</div>
  <div fxFlexOffset="5vh">4. Four</div>
</div>

<div fxLayout="row">
  <div fxFlexAlign="start">1. One</div>
  <div fxFlexAlign="center">2. Two</div>
  <div fxFlexAlign="end">3. Three</div>
  <div fxFlexAlign="baseline">4. Four</div>
  <div fxFlexAlign="stretch">5. Four</div>
</div>

<div fxLayout="row" style="height: 100px;border: 4px solid blue">
  <div fxFlexFill style="background-color:red">fxFlexFill or fxFill</div>
</div>

*fxShow="false"<div fxShow="false"></div>
<div fxHide="true">fxHide="true"</div>
<div fxHide.sm="true">fxHide.sm="true"</div>
<div fxShow="true" fxShow.gt-xs="true" fxShow.gt-md="false">fxShow="true" fxShow.gt-xs="true" fxShow.gt-md="false"</div>

<div
   ngClass="first second" 
   [ngClass.xs]="{'first':false, 'third':true}"
   [ngClass.gt-xs]="{'first':true, 'second':true}" >
      TESTING
</div>

<div 
    style="font-size:12px; color:black; text-align:left;"
    [ngStyle.sm]="{'font-size': '16px', color: '#a63db8', 'text-align': 'center'}"
    ngStyle.md="font-size: 24px; color : #0000ff; text-align: right;">
</div>

<div>
  <img src="favicon.ico" src.xs="favicon-red.ico"/>
</div>

<div
  gdAreas.xs="header header | sidebar content | sidebar2 sidebar2 | footer footer"
  gdAreas.gt-xs="header header header | sidebar content sidebar2 | footer footer footer"
  gdAlignColumns="center center"
  gdAlignRows="center center"
  gdAuto="row"
  gdColumns.xs="50% 50%"
  gdColumns="20% 20% 20%"
  gdRows.xs="repeat(4, minmax(0, 1fr))"
  gdRows="repeat(3, minmax(0, 1fr))"
  gdGap="1rem 1rem"
>
  <div gdArea="header">Header</div>
  <div gdArea="sidebar">Sidebar</div>
  <div gdArea="sidebar2">Sidebar 2</div>
  <div gdArea="content">Content<br /> More content than we had before so this column is now quite tall.</div>
  <div gdArea="footer">Footer</div>
</div>