@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer utilities {
    @variants responsive {
      .first {
          color: red;
      }
      .second {
        color: blue;
      }
      .third {
        color: green;
      }
    }
}

/* You can add global styles to this file, and also import other style files */

body {
    margin: 8px;
}
